---
interface Props {
  day: string;
  routine: string;
  description: string;
}

const { day, routine, description } = Astro.props;
---

<div class="bg-gray-800 text-white border border-gray-700 rounded-lg shadow-lg p-6 flex flex-col h-full hover:bg-gray-700 hover:border-gray-600 cursor-pointer">
    <h2 class="text-2xl font-semibold">{day}</h2>
    <p class="mt-2 text-xl">{routine}</p>
    <p class="mt-4 text-gray-400">{description}</p>
</div>
