---
interface Props {
  day: string;
  routine: string;
  description: string;
}

const { day, routine, description } = Astro.props;
---

<div class="bg-white text-rosa-custom-900 border border-rosa-custom-200 rounded-lg shadow-lg p-6 flex flex-col h-full hover:bg-rosa-custom-50 hover:border-rosa-custom-300 hover:shadow-xl cursor-pointer transition-all duration-300">
    <h2 class="text-2xl font-semibold text-rosa-custom-800">{day}</h2>
    <p class="mt-2 text-xl text-rosa-custom-700">{routine}</p>
    <p class="mt-4 text-rosa-custom-600">{description}</p>
</div>
