---
const daysOfWeek = [
    { day: "Lunes", slug: "lunes" },
    { day: "Martes", slug: "martes" },
    { day: "Miercoles", slug: "miercoles" },
    { day: "Jueves", slug: "jueves" },
    { day: "Viernes", slug: "viernes" },
    { day: "Sabado", slug: "sabado" },
];
---

<header class="fixed top-0 left-0 w-full z-50 shadow-md">
    <nav class="bg-white border-rosa-custom-200">
        <div
            class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
        >
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="w-10 fill-rosa-custom-700 hover:fill-rosa-custom-800"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M96 64c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32l0 160 0 64 0 160c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-64-32 0c-17.7 0-32-14.3-32-32l0-64c-17.7 0-32-14.3-32-32s14.3-32 32-32l0-64c0-17.7 14.3-32 32-32l32 0 0-64zm448 0l0 64 32 0c17.7 0 32 14.3 32 32l0 64c17.7 0 32 14.3 32 32s-14.3 32-32 32l0 64c0 17.7-14.3 32-32 32l-32 0 0 64c0 17.7-14.3 32-32 32l-32 0c-17.7 0-32-14.3-32-32l0-160 0-64 0-160c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32zM416 224l0 64-192 0 0-64 192 0z"/></svg>
            </a>
            <button
                id="menu-toggle"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-rosa-custom-700 rounded-lg md:hidden hover:bg-rosa-custom-100 focus:outline-none focus:ring-2 focus:ring-rosa-custom-300"
                aria-controls="navbar-default"
                aria-expanded="false"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 17 14"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15"
                    ></path>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-rosa-custom-200 rounded-lg bg-rosa-custom-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white"
                >
                    {daysOfWeek.map(({ day, slug }) => (
                        <li>
                            <a
                                href={`/rutina/${slug}`}
                                class="block py-2 px-3 text-rosa-custom-700 rounded hover:bg-rosa-custom-100 md:hover:bg-transparent md:border-0 md:hover:text-rosa-custom-800 md:p-0"
                            >
                                {day}
                            </a>
                        </li>
                    ))}
                    <li>
                        <a
                            href={'/dieta'}
                            class="block py-2 px-3 text-rosa-custom-700 rounded hover:bg-rosa-custom-100 md:hover:bg-transparent md:border-0 md:hover:text-rosa-custom-800 md:p-0"
                        >
                            Dieta
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    function toggleMenu() {
        const toggleButton = document.getElementById("menu-toggle");
        const menu = document.getElementById("navbar-default");

        if (toggleButton && menu) {
            toggleButton.addEventListener("click", function () {
                menu.classList.toggle("hidden");
            });
        }
    }

    // Ejecutar el script cuando el DOM esté listo
    document.addEventListener('DOMContentLoaded', toggleMenu);

    // Ejecutar el script después de una transición de vista (si usas ViewTransitions)
    document.addEventListener('astro:after-swap', toggleMenu);
</script>
