---
import Layout from "../../layouts/Layout.astro";
import { dieta } from "../../data/dieta";

---

<Layout title='Dieta'>
    <section class="text-center mb-12">
        <h1 class="text-4xl font-bold text-rosa-custom-900">Dieta semanal</h1>
        <p class="mt-4 text-rosa-custom-700" style="text-wrap: balance;">
            Sigue nuestra dieta semanal diseñada para complementar tu rutina de ejercicios y ayudarte a alcanzar tus metas de salud y fitness. Cada día incluye comidas balanceadas y prácticas, ideales para optimizar tu rendimiento en el gimnasio y mejorar tu bienestar general. ¡Adapta cada
        </p>
    </section>

    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {Object.entries(dieta).map(([key, { comida, detalles }]) => (
            <div class="bg-white text-rosa-custom-900 border border-rosa-custom-200 rounded-lg shadow-lg p-6 flex flex-col h-full hover:bg-rosa-custom-50 hover:border-rosa-custom-300 hover:shadow-xl cursor-pointer transition-all duration-300">
                <h2 class="text-2xl font-semibold mb-4 text-rosa-custom-800">{comida}</h2>
                {detalles.map(({ titulo, items }) => (
                    <div class="mb-4">
                        <h3 class="text-xl text-rosa-custom-800 font-bold mb-2">{titulo}</h3>
                        <ul class="text-rosa-custom-600 space-y-1">
                            {items.map((item) => (
                                <li>{item}</li>
                            ))}
                        </ul>
                    </div>
                ))}
            </div>
        ))}
    </section>

</Layout>
